/* General Rules Start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-black: #222831;
  --bg-gray: #30475e;
  --bg-red: #f05454;
  --bg-white: #ddd;
  --bg-transparent: rgba(255, 255, 255, 0.3);
}
/* General Rules End */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--bg-black),
    var(--bg-gray),
    var(--bg-red),
    var(--bg-white)
  );
}

/* Calendar Container Start */
.container {
  width: 450px;
  background: var(--bg-transparent);
  border-radius: 10px;
}
/* Calendar Container End */

/* Calendar Header Start */
.container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

header .icons span {
  height: 38px;
  width: 38px;
  color: var(--bg-gray);
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

header .icons span:hover {
  background: var(--bg-white);
}

/* Calendar Header End */

/* Calendar Start */
.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar .weeks li {
  font-weight: 500;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar .days li {
  cursor: pointer;
  margin-top: 30px;
  z-index: 1;
}

.days li.inactive {
  color: var(--bg-gray);
}

.days li.active {
  color: var(--bg-white);
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.days li:hover::before {
  background: var(--bg-white);
}

.days li.active::before {
  background: var(--bg-red);
}

/* Calendar End */
